.game-container {
  height: 400px;
  width: 300px;
  background: tomato;
  border: 1px solid #44b05d;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.game-info {
  height: 20%;
  margin-bottom: 1em;
  background: aquamarine;
}
.game-board {
  width: 100%;
  aspect-ratio: 1;
  background: green;
}

