.game-container {
  outline: 1px solid #44b05d;
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  padding: 1em;
  margin: 0 auto;
}
.game-info {
  margin-bottom: 1em;
  outline: 1px solid aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.game-board {
  outline: 1px solid green;
}
.board-row {
  max-height: 22px;
}

